---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};
---

<a
  href={`/${entry.collection}/${entry.id.replace(/\/index$/, "")}`}
  class="group border-structural block border bg-white p-6 transition-colors duration-200 hover:bg-black hover:text-white"
>
  <div class="flex flex-col gap-4">
    <div class="flex items-start justify-between">
      <h3
        class="text-xl leading-none font-black tracking-tight uppercase group-hover:text-white"
      >
        {entry.data.title}
      </h3>
      {
        entry.collection === "blog" && entry.data.wip && (
          <span class="border border-black px-1 font-mono text-[10px] uppercase group-hover:border-white group-hover:text-white">
            WIP
          </span>
        )
      }
    </div>

    <p
      class="line-clamp-2 font-mono text-sm leading-relaxed text-gray-600 group-hover:text-gray-300"
    >
      {entry.data.description}
    </p>

    <div class="mt-2 flex items-center gap-2">
      <span class="font-label text-gray-400 group-hover:text-gray-500">
        {entry.collection === "blog" ? "FIG" : "SYS"}
        {entry.data.date.getFullYear().toString().slice(-2)}
      </span>
      <div class="h-px w-8 bg-gray-300 group-hover:bg-gray-700"></div>
    </div>
  </div>
</a>
