---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="group inline-flex items-center gap-2 border border-black/20 bg-white px-4 py-2 font-mono text-xs tracking-wider text-black uppercase transition-colors hover:bg-black hover:text-white"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="size-3 fill-none stroke-current stroke-2"
  >
    <polyline points="15 18 9 12 15 6"></polyline>
  </svg>
  <slot />
</a>
