---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="group inline-flex items-center gap-2 border border-[var(--color-accent)] bg-[var(--color-accent)] px-4 py-2 font-mono text-xs tracking-wider text-white uppercase transition-colors hover:border-[#0047cc] hover:bg-[#0047cc]"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="size-3 fill-none stroke-current stroke-2"
  >
    <polyline points="15 18 9 12 15 6"></polyline>
  </svg>
  <slot />
</a>
