<div class="giscus"></div>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="spa5k/saybackend"
  data-repo-id="R_kgDOK-1fwg"
  data-category="Blog"
  data-category-id="DIC_kwDOK-1fws4Cf4rx"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
