---

---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text"
      >
        SAY BACKEND 🚀
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/saybackend"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="SayBackend on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/saybackend"
        aria-label="saybackend on Twitter"
      >
        <i
          class="fa-brands fa-twitter"
          aria-hidden="true"
          title="saybackend on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Hey, Welcome to the SayBackend blog. Here you will find articles about the
      Backend, from the basics to the most advanced topics, from Servers to the
      Devops, to the Golang and Database. Weekly articles will be published, so
      stay tuned.
    </p>
  </div>
</section>
