---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div
  class="border-structural bg-background overflow-hidden border-b p-6 md:p-12 lg:p-24"
>
  <h1
    class="text-[9vw] leading-[0.8] font-black tracking-tighter break-words uppercase"
  >
    {title}
  </h1>
  {
    subtitle && (
      <div class="border-border mt-8 max-w-2xl border-l-2 pl-6">
        <p class="font-mono text-lg md:text-xl">{subtitle}</p>
      </div>
    )
  }
</div>
