---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section
  id={id}
  class:list={["border-structural border-b bg-white", className]}
>
  <slot />
</section>
