---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section
  id={id}
  class:list={["border-structural bg-background border-b", className]}
>
  <slot />
</section>
