---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate text-foreground font-semibold">Projects</div>
        <ul class="animate flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
